---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout
  title='Arturo Zamora - Software Engineer and UI / UX Designer'
  description='Work with Arturo to create unique software experiences.'
>
  <main>
    <NavBar />
    <SectionContainer id='/' className='bg-[#F2FFD8]'>
      <p class='text-lg text-gray-500'>Welcome to your new Astro site.</p>
    </SectionContainer>
    <SectionContainer id='about' className='bg-[#D8E0FF]'>
      <p class='text-lg text-gray-500'>Welcome to your new Astro site.</p>
    </SectionContainer>
    <SectionContainer id='experience' className='bg-[#FFD8FB]'>
      <p class='text-lg text-gray-500'>Welcome to your new Astro site.</p>
    </SectionContainer>
    <SectionContainer id='contact' className='bg-[#F2FFD8]'>
      <p class='text-lg text-gray-500'>Welcome to your new Astro site.</p>
    </SectionContainer>
  </main>
</Layout>
