---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import NavBar from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout
  title='Arturo Zamora - Software Engineer and UI/UX Designer'
  description='Work with Arturo to create unique software experiences.'
>
  <header>
    <NavBar />
  </header>
  <main
    class={`
			snap-y snap-mandatory 
			relative w-full h-screen 
			overflow-y-auto overflow-x-hidden`}
  >
    <div class='snap-center'>
      <Section id='/' class='bg-background-green'>
        <Hero />
      </Section>
    </div>
    <div class='snap-center'>
      <Section id='about' class='bg-background-blue' />
    </div>
    <div class='snap-center'>
      <Section id='experience' class='bg-background-pink' />
    </div>
    <div id='/' class='snap-center'>
      <Section id='contact' class='bg-background-green' />
    </div>
  </main>
</Layout>
