---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import NavBar from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---

<Layout
  title='Arturo Zamora - Software Engineer and UI/UX Designer'
  description='Work with Arturo to create unique software experiences.'
>
  <header>
    <NavBar />
  </header>
  <main
    class={`
			snap-y snap-mandatory 
			relative w-full h-screen 
			overflow-y-auto overflow-x-hidden`}
  >
    <div class='snap-center'>
      <Section id='/' class='bg-background-green' maxWidth='1200px'>
        <Hero />
      </Section>
    </div>
    <div class='snap-center'>
      <Section id='about' class='bg-background-blue' maxWidth='1100px'>
        <About />
      </Section>
    </div>
    <div class='snap-center'>
      <Section id='experience' class='bg-background-pink' maxWidth='1100px'>
        <Experience />
      </Section>
    </div>
    <div id='/' class='snap-center'>
      <Section id='contact' class='bg-background-green'>
        <Contact />
      </Section>
    </div>
  </main>
</Layout>
