---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import NavBar from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout
  title='Arturo Zamora - Software Engineer and UI / UX Designer'
  description='Work with Arturo to create unique software experiences.'
>
  <header>
    <NavBar />
  </header>
  <main
    class={`
			snap-y snap-mandatory 
			relative w-full h-screen 
			overflow-y-auto overflow-x-hidden scroll-smooth`}
  >
    <div class='snap-center'>
      <Section id='/' color='#F2FFD8'>
        <Hero />
      </Section>
    </div>
    <div class='snap-center'>
      <Section id='about' color='#D8E0FF'>
        <Hero />
      </Section>
    </div>
    <div class='snap-center'>
      <Section id='experience' color='#FFD8FB'>
        <Hero />
      </Section>
    </div>
    <div id='/' class='snap-center'>
      <Section id='contact' color='#F2FFD8'>
        <Hero />
      </Section>
    </div>
  </main>
</Layout>
