---
import Card from './Card.astro';
import CalendarIcon from './icons/CalendarIcon.astro';
import GitHubLogo from './icons/GitHubLogo.astro';
import LinkedInLogo from './icons/LinkedInLogo.astro';
import MailIcon from './icons/MailIcon.astro';

const URLS = {
  mail: 'mailto:charliecazc@gmail.com',
  linkedin: 'https://www.linkedin.com/in/zamorarturo/',
  github: 'https://github.com/artuzam',
  calendly: 'https://calendly.com',
};
---

<div class='flex flex-col justify-center h-full w-full mt-5'>
  <div class='w-full grid grid-cols-10 gap-6 pt-8 px-8'>
    <div class='col-span-6 flex flex-col items-end h-full w-full'>
      <Card
        class='h-[350px] w-[550px] mb-8 shadow-[8px_8px_0px#7BB500] border-[4px] p-8'
      >
        <p class='text-pretty'>
          With a solid <strong>educational foundation</strong> and extensive corporate
          <strong>experience</strong>, I deliver high-quality software solutions
          on time and within budget. My blend of technical expertise and soft
          skills allows me to tackle complex challenges effectively. As a
          freelancer, I am committed to providing
          <strong>impactful results</strong> and <strong
            >client satisfaction</strong
          >.
        </p>
        <p>
          Get in touch and <strong
            >let’s build something awesome together!</strong
          >
        </p>
      </Card>
      <Card
        class=`h-[125px] w-[275px] shadow-[8px_8px_0px#7BB500] 
        border-[4px] px-5 py-4 flex flex-col justify-center items-center`
      >
        <div class='grid grid-cols-3 gap-6 place-content-around'>
          <a href={URLS.mail} target='_blank' class='mx-auto'>
            <MailIcon
              class='size-12 cursor-pointer transition-transform transform hover:scale-110'
            />
          </a>
          <a href={URLS.linkedin} target='_blank' class='mx-auto'>
            <LinkedInLogo
              class='size-12 cursor-pointer transition-transform transform hover:scale-110'
            />
          </a>
          <a href={URLS.github} target='_blank' class='mx-auto'>
            <GitHubLogo
              class='size-9 mt-1 cursor-pointer transition-transform transform hover:scale-110'
            />
          </a>
        </div>
      </Card>
    </div>
    <div class='col-span-4 flex flex-col items-start h-full w-full'>
      <Card
        class=`h-[250px] w-[300px] mb-8 shadow-[8px_8px_0px#7BB500] 
        border-[8px] p-8 flex flex-col justify-center items-center`
        `
      >
        <CalendarIcon class='size-16 mx-auto mb-4' />
        <h1 class='text-3xl font-bold mb-4'>Book a call!</h1>
        <a href={URLS.calendly} target='_blank' class='mx-auto'>
          <p class='mx-auto
          underline'>Calendly</p>
        </a>
      </Card>
      <Card
        class='h-[250px] w-[300px] mb-8 shadow-[8px_8px_0px#7BB500] border-[4px] overflow-hidden'
      >
        <img
          src='/beach.webp'
          alt='Pixel art of man working in an office'
          class='w-full h-full object-cover'
        />
      </Card>
    </div>
  </div>

  <style>
    p {
      font-size: 1.3rem;
    }
    strong {
      color: #7bb500;
    }
  </style>
</div>
