---
import Card from './Card.astro';
---

<Card class='w-[850px] h-[320px] shadow-[32px_32px_0px#7BB500] mt-7 ml-5'>
  <h1 class='text-6xl'>Hi! My name is</h1>
  <h1 class='text-6xl text-accent-green mt-6'>Arturo Zamora</h1>
</Card>

<style>
  h1 {
    font-family: 'Oi', cursive;
  }
</style>
