---
import Card from './Card.astro';
---

<div class='flex flex-col md:flex-row h-full'>
  <div class='my-auto w-full flex flex-col items-center'>
    <Card
      class=`w-3/4 md:w-full max-w-[820px] h-auto max-h-[250px]
      md:h-[280px] mx-auto md:ml-5 lg:mt-10 lg:ml-7 px-8 py-4
      shadow-[16px_16px_0px#7BB500] md:shadow-[24px_24px_0px#7BB500] border-[8px]`
    >
      <h1 class='text-3xl md:text-4xl lg:text-5xl'>Hi! My name is</h1>
      <h1 class='text-3xl md:text-5xl text-accent-green mt-6'>Arturo Zamora</h1>
    </Card>

    <Card
      class=`w-3/4 md:w-[400px] h-auto md:h-[120px] mx-auto mt-12 lg:mt-[60px] lg:ml-[325px] px-8 py-4
      shadow-[16px_16px_0px#7BB500] md:shadow-[24px_24px_0px#7BB500] border-[8px]`
    >
      <p class='text-md md:text-xl text-pretty'>
        I’m a Software Engineer and UI/UX Designer based in
        <strong class='text-accent-green'>Costa Rica</strong>.
      </p>
    </Card>
  </div>
  <div class='hidden md:flex w-full' '>
    <Card
      class=`w-full max-w-[330px] h-full max-h-[435px] shadow-[24px_24px_0px#7BB500]
      mt-10 mx-auto border-black border-[8px]`
    >
      <img
        src='/profile-pic.webp'
        alt='Arturo Zamora'
        class='w-full h-full object-cover'
      />
    </Card>
  </div>
</div>

<style>
  h1 {
    font-family: 'Oi', cursive;
  }
</style>
