---
interface SectionProps {
  id: string;
}

const { id } = Astro.props as SectionProps;
---

<section
  id={id}
  data-section={id}
  class={`
  ${Astro.props.class}
  section scroll-m-20 w-full h-screen py-20 relative`}
>
  <div class='w-full max-w-[1400px] mx-auto h-full'>
    <slot />
  </div>
</section>
