---
import Card from './Card.astro';
import FlipCard from './FlipCard.astro';
import AWSLogo from './icons/AWSLogo.astro';
import JavaLogo from './icons/JavaLogo.astro';
import LookerLogo from './icons/LookerLogo.astro';
import MySQLLogo from './icons/MySQLLogo.astro';
import PythonLogo from './icons/PythonLogo.astro';
import ReactLogo from './icons/ReactLogo.astro';
import SpringLogo from './icons/SpringLogo.astro';
import TechCard from './TechCard.astro';
---

<div x-data="{ tab: 'grid' }">
  <!-- Tab Buttons -->
  <div class='flex space-x-4 mb-4'>
    <button
      @click="tab = 'grid'"
      :class="{ 'bg-accent-pink text-white': tab === 'grid' }"
      class='px-4 py-2'>Projects</button
    >
    <button
      @click="tab = 'single'"
      :class="{ 'bg-accent-pink text-white': tab === 'single' }"
      class='px-4 py-2'>Experience</button
    >
  </div>

  <!-- Tab Content -->
  <div
    x-show="tab === 'grid'"
    x-transition:enter='transition ease-out duration-1000'
    x-transition:enter-start='transform scale-x-0 origin-left'
    x-transition:enter-end='transform scale-x-1 origin-left'
    class='grid grid-cols-3 gap-4 auto-rows-[16rem]'
  >
    <FlipCard class='shadow-[8px_8px_0px#fd38e9] border-[4px]'>
      <div slot='front' class='flex flex-col mx-6 justify-between'>
        <p class='my-4'><strong>Multi-Touch Attribution</strong></p>
        <p class='mb-4'>
          I developed an app that enables marketing clients to <strong
            >predict the performance</strong
          > of their marketing channels using their data and ML models.
        </p>
        <p class='mx-auto mb-4 underline'>View tech stack</p>
      </div>
      <div slot='back' class='w-full h-full bg-accent-pink'>
        <TechCard>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <ReactLogo />
          </div>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <PythonLogo />
          </div>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <AWSLogo />
          </div>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <LookerLogo />
          </div>
        </TechCard>
      </div>
    </FlipCard>
    <FlipCard class='shadow-[8px_8px_0px#fd38e9] border-[4px]'>
      <div slot='front' class='flex flex-col mx-6 justify-between'>
        <p class='my-4'><strong>Data Portrait Analysis</strong></p>
        <p class='mb-4'>
          I spearheaded the design and development of a web application that
          assists the sales team in showcasing the customer data and <strong
            >securing sales</strong
          >.
        </p>
        <p class='static bottom-0 mx-auto underline'>View tech stack</p>
      </div>
      <div slot='back' class='w-full h-full bg-accent-pink'>
        <TechCard>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <ReactLogo />
          </div>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <PythonLogo />
          </div>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <AWSLogo />
          </div>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <LookerLogo />
          </div>
        </TechCard>
      </div>
    </FlipCard>
    <FlipCard class='shadow-[8px_8px_0px#fd38e9] border-[4px]'>
      <div slot='front' class='flex flex-col mx-6 justify-between'>
        <p class='my-4'><strong>Zoom Call Scheduler</strong></p>
        <p class='mb-4'>
          I contributed to the development of an app that allowed the entire
          company to use a limited pool of Zoom paid accounts, significantly
          <strong>reducing costs</strong>.
        </p>
        <p class='mx-auto mb-4 underline'>View tech stack</p>
      </div>
      <div slot='back' class='w-full h-full bg-accent-pink'>
        <TechCard>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <ReactLogo />
          </div>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <SpringLogo />
          </div>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <MySQLLogo />
          </div>
          <div
            class='w-[80px] h-[80px] flex justify-center items-center col-span-1
          border-2 border-solid border-black bg-white text-black p-2'
          >
            <JavaLogo class='w-[55px] h-[55px]' />
          </div>
        </TechCard>
      </div>
    </FlipCard>
  </div>
  <div
    x-show="tab === 'single'"
    x-transition:enter='transition ease-out duration-1000'
    x-transition:enter-start='transform scale-x-0 origin-left'
    x-transition:enter-end='transform scale-x-1 origin-left'
    class='grid grid-cols-1 gap-4 auto-rows-[16rem]'
  >
    <Card class='shadow-[8px_8px_0px#fd38e9] border-[4px]'>
      <div class='grid grid-cols-2'>
        <div class='col-span-1 p-8'>
          <p class='mt-2'><strong>Senior Software Engineer</strong></p>
          <p class='italic text-accent-pink text-[.86] mb-1'>
            Growth Acceleration Partners | 2021 - Present
          </p>
          <ul class='list-disc'>
            <li>
              Spearheaded the development of a new app for pre-sales based on
              prior R&D.
            </li>
            <li>Designed the UI for the initial app and new features.</li>
            <li>
              Participated in the migration of an app from Looker hosting to
              AWS.
            </li>
            <li>Created back-end functionalities using AWS Lambda.</li>
          </ul>
        </div>
        <div class='col-span-1 p-8'>
          <p class='mt-2'><strong>Software Engineer</strong></p>
          <p class='italic text-accent-pink text-[12px] mb-1'>
            Avantica Technologies | 2018 - 2021
          </p>
          <ul class='list-disc'>
            <li>
              Owned maintenance and bug-fixing of web and desktop apps (React,
              Java, C#).
            </li>
            <li>
              Designed and developed new features for web apps using React and
              Java (Spring Boot).
            </li>
            <li>
              Developed and maintained BI processes using SQL Server Analysis
              Services.
            </li>
          </ul>
        </div>
        <div class='col-span-1'></div>
      </div>
    </Card>
  </div>
</div>

<style>
  p {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.2rem;
    color: #fd38e9;
    font-weight: 500;
  }
  strong {
    color: #fd38e9;
  }
  .origin-left {
    transform-origin: left;
  }
</style>
